.tiercard {
  border: 5px solid;
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.icon {
  border: 5px solid;
  display: flex;
  width: 80%;

}

.image {
  display: flex;
  width: 80%;
}

.text {
  border: 5px solid;
  display: flex;
  
}

.navigate {
  border: 5px solid;
  display: flex;
  
}

.notice {
  border: 5px solid;
  display: flex;

}