.searchbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  /* margin: 1rem; */
  padding: 0.5rem;
  border-radius: 5px;
  gap: 1rem;
}

.text-area {
  display: flex;
  flex: 1;
  border: none;
}

.icon {
  width: 36px;
  height: 36px;
}